<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/blog' %}
		{% assign prompt = 'Back to Index' %}
	{% else %}
		{% if page.url == '/indice.html' %}
			{% assign link = '/blog-pt' %}
			{% assign prompt = 'Ir para Índice' %}
		{% endif %}
	{% else %}
		{% if page.url == '/blog-pt.html' %}
			{% assign link = '/indice.html' %}
			{% assign prompt = 'Sobre o Autor' %}
		{% else %}
			{% assign link = '/' %}
			{% assign prompt = 'About the Author' %}
		{% endif %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.logo_url }}" alt="" class="logo-avatar">
	</a>
	<span class="logo-prompt code">{{ prompt }}</span>

</aside>

<div style="text-align: right">
<section>
  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
  {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang }}</a> {% endfor %}

  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a> {% endfor %}
</section>
</div>
