---
layout: default
---

<article>

	<h1 class="title">{{ page.title }}</h1>

	<div class="divider"></div>

	{{ content }}

</article>

<div class="page-navigation code">
	{% if page.lang == 'en' %}
      		<a class="home" href="{{ "/blog" | prepend: site.baseurl | prepend: site.url }}" title="Go to Index">&larr; Index</a>
    	{% else %}
      		<a class="home" href="{{ "/blog-pt" | prepend: site.baseurl | prepend: site.url }}" title="Ir para Índice">&larr; Índice</a>
    	{% endif %}
	
	
	
</div>
